In [39]:
import pandas as pd
from pathlib import Path

In [26]:
# Pull data from S3 and create dataframe
url = 'https://airport-efficiency.s3.amazonaws.com/Flight_Data.csv'
flight_df = pd.read_csv(url)

C:\Users\nizar\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (8,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [27]:
flight_df.head(5)

,Unnamed: 0,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_ABR,CRS_DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEST_STATE_NM
0,0,2021,7,2,7/13/2021 12:00:00 AM,WN,SAN,DEN,CO,1825,...,-1.0,1800-1859,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2021,7,2,7/13/2021 12:00:00 AM,WN,SAN,DEN,CO,1505,...,NaN,1500-1559,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2021,7,2,7/13/2021 12:00:00 AM,WN,SAN,DEN,CO,1210,...,1.0,1200-1259,0.0,0.0,18.0,0.0,0.0,0.0,0.0,NaN
3,3,2021,7,2,7/13/2021 12:00:00 AM,WN,SAN,DEN,CO,2050,...,5.0,2000-2059,0.0,0.0,59.0,0.0,0.0,0.0,18.0,NaN
4,4,2021,7,2,7/13/2021 12:00:00 AM,WN,SAN,HNL,HI,1840,...,0.0,1800-1859,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#drop unnamed column that was imported
flight_df = flight_df.drop('Unnamed: 0', 1)

In [29]:
flight_df.dtypes

YEAR                     int64
MONTH                    int64
DAY_OF_WEEK              int64
FL_DATE                 object
BRANDED_CODE_SHARE      object
ORIGIN                  object
DEST                    object
DEST_STATE_ABR          object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DELAY_GROUP        float64
DEP_TIME_BLK            object
CANCELLED              float64
DIVERTED               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
DEST_STATE_NM           object
dtype: object

In [241]:
#create seperate dataframes for each airport and reset index to start at 0
DCA_flights = flight_df.loc[flight_df['ORIGIN']== 'DCA']
DCA_flights = DCA_flights.reset_index(drop=True)

In [242]:
DCA_flights['ORIGIN'].value_counts()

DCA    333731
Name: ORIGIN, dtype: int64

In [243]:
DCA_flights['YEAR'].value_counts()

2019    144343
2021     84771
2020     68174
2022     36443
Name: YEAR, dtype: int64

In [244]:
IAD_flights = flight_df.loc[flight_df['ORIGIN']== 'IAD']
IAD_flights = IAD_flights.reset_index(drop=True)

In [245]:
IAD_flights['ORIGIN'].value_counts()

IAD    243880
Name: ORIGIN, dtype: int64

In [246]:
BWI_flights = flight_df.loc[flight_df['ORIGIN']== 'BWI']
BWI_flights = BWI_flights.reset_index(drop=True)

In [247]:
BWI_flights['ORIGIN'].value_counts()

BWI    273406
Name: ORIGIN, dtype: int64

In [248]:
# Create Folder to save cleaned data
output_dir = Path('./Cleaned Data')

output_dir.mkdir(parents=True, exist_ok=True)

In [250]:
# Fill missing State names
states = {"AL":"Alabama",
"AK":"Alaska",
"AZ":"Arizona",
"AR":"Arkansas",
"CA":"California",
"CO":"Colorado",
"CT":"Connecticut",
"DE":"Delaware",
"FL":"Florida","GA":
"Georgia",
"HI":"Hawaii",
"ID":"Idaho",
"IL":"Illinois",
"IN":"Indiana",
"IA":"Iowa",
"KS":"Kansas",
"KY":"Kentucky",
"LA":"Louisiana",
"ME":"Maine",
"MD":"Maryland",
"MA":"Massachusetts",
"MI":"Michigan",
"MN":"Minnesota",
"MS":"Mississippi",
"MO":"Missouri",
"MT":"Montana",
"NE":"Nebraska",
"NV":"Nevada",
"NH":"New Hampshire",
"NJ":"New Jersey",
"NM":"New Mexico",
"NY":"New York",
"NC":"North Carolina",
"ND":"North Dakota",
"OH":"Ohio",
"OK":"Oklahoma",
"OR":"Oregon",
"PA":"Pennsylvania",
"RI":"Rhode Island",
"SC":"South Carolina",
"SD":"South Dakota",
"TN":"Tennessee",
"TX":"Texas",
"UT":"Utah",
"VT":"Vermont",
"VA":"Virginia",
"WA":"Washington",
"WV":"West Virginia",
"WI":"Wisconsin",
"WY":"Wyoming",
}

In [251]:
IAD_flights.head()

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_ABR,CRS_DEP_TIME,DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEST_STATE_NM
0,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,ATL,GA,1625,1636.0,...,0.0,1600-1659,0.0,0.0,11.0,0.0,35.0,0.0,0.0,NaN
1,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,DEN,CO,550,558.0,...,0.0,0001-0559,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,DEN,CO,1205,1210.0,...,0.0,1200-1259,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,MDW,IL,1900,1944.0,...,2.0,1900-1959,0.0,0.0,1.0,0.0,0.0,0.0,29.0,NaN
4,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,MDW,IL,1305,1258.0,...,-1.0,1300-1359,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [252]:
# loop though dataframe and set state name based on abbreviation
for row in range(len(IAD_flights['DEST_STATE_ABR'])):
    abr = IAD_flights.at[row, 'DEST_STATE_ABR']
    if  abr in states.keys():
        IAD_flights.at[row ,'DEST_STATE_NM'] = states[abr]
        # print(abr)
        # print(states[abr])

In [253]:
IAD_flights.head(-10)

,YEAR,MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,DEST_STATE_ABR,CRS_DEP_TIME,DEP_TIME,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CANCELLED,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DEST_STATE_NM
0,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,ATL,GA,1625,1636.0,...,0.0,1600-1659,0.0,0.0,11.0,0.0,35.0,0.0,0.0,Georgia
1,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,DEN,CO,550,558.0,...,0.0,0001-0559,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Colorado
2,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,DEN,CO,1205,1210.0,...,0.0,1200-1259,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Colorado
3,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,MDW,IL,1900,1944.0,...,2.0,1900-1959,0.0,0.0,1.0,0.0,0.0,0.0,29.0,Illinois
4,2021,7,3,7/14/2021 12:00:00 AM,WN,IAD,MDW,IL,1305,1258.0,...,-1.0,1300-1359,0.0,0.0,NaN,NaN,NaN,NaN,NaN,Illinois
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243865,2021,9,7,9/26/2021 12:00:00 AM,AA_CODESHARE,IAD,CLT,NC,630,628.0,...,-1.0,0600-0659,0.0,0.0,NaN,NaN,NaN,NaN,NaN,North Carolina
243866,2021,9,1,9/27/2021 12:00:00 AM,AA_CODESHARE,IAD,CLT,NC,630,622.0,...,-1.0,0600-0659,0.0,0.0,NaN,NaN,NaN,NaN,NaN,North Carolina
243867,2021,9,2,9/28/2021 12:00:00 AM,AA_CODESHARE,IAD,CLT,NC,630,621.0,...,-1.0,0600-0659,0.0,0.0,NaN,NaN,NaN,NaN,NaN,North Carolina
243868,2021,9,3,9/29/2021 12:00:00 AM,AA_CODESHARE,IAD,CLT,NC,630,625.0,...,-1.0,0600-0659,0.0,0.0,NaN,NaN,NaN,NaN,NaN,North Carolina
243869,2021,9,4,9/30/2021 12:00:00 AM,AA_CODESHARE,IAD,CLT,NC,630,626.0,...,-1.0,0600-0659,0.0,0.0,NaN,NaN,NaN,NaN,NaN,North Carolina

In [254]:
IAD_flights['DEST_STATE_NM'].value_counts()

New York               24050
North Carolina         19591
Florida                19356
California             16667
Texas                  14787
Georgia                14217
Pennsylvania           13166
Virginia               12457
South Carolina          9964
Ohio                    9574
Colorado                9300
Michigan                8209
Illinois                6358
Tennessee               6229
Kentucky                5956
New Jersey              5263
Minnesota               4574
Missouri                4330
Washington              4286
Maine                   4120
Massachusetts           3772
Indiana                 3456
Connecticut             3439
Vermont                 2962
Rhode Island            2691
Louisiana               2217
Nevada                  2136
Alabama                 1938
West Virginia           1766
New Hampshire           1405
Arizona                 1313
Utah                     900
Oregon                   591
Oklahoma                 484
Puerto Rico              480
Hawaii                   396
U.S. Virgin Islands      318
Wisconsin                248
Montana                   69
Name: DEST_STATE_NM, dtype: int64

In [255]:
for row in range(len(BWI_flights['DEST_STATE_ABR'])):
    abr = BWI_flights.at[row, 'DEST_STATE_ABR']
    if  abr in states.keys():
        BWI_flights.at[row ,'DEST_STATE_NM'] = states[abr]

In [256]:
for row in range(len(DCA_flights['DEST_STATE_ABR'])):
    abr = DCA_flights.at[row, 'DEST_STATE_ABR']
    if  abr in states.keys():
        DCA_flights.at[row ,'DEST_STATE_NM'] = states[abr]

In [257]:
# save files as csv
IAD_flights.to_csv('Cleaned Data/IAD_flights.csv', index=False)
DCA_flights.to_csv('Cleaned Data/DCA_flights.csv', index=False)
BWI_flights.to_csv('Cleaned Data/BWI_flights.csv', index=False)